* {
  box-sizing: border-box;
}

.container{
  max-width: 900px;
  height: 800px;
  
}
.container > .bigBox{
  display: inline-block;
}
.bigBox{
  width: 30%;
  height: 30%;
  margin-left: 2%;
  margin-top: 10%;
  position: relative;
  
  border: 2px solid #47a3da;
}
.last{
  position: absolute;
  top: 106%;
  width: 100%;
  height: 30px;
  line-height: 0;
}

p.title{
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #47a3da;
  margin-left: 1%;
}

p.price{
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #47a3da;
  font-weight: bold;
  margin-left: 80%;
  margin-top: -18%;
  font-size-adjust: 0.58;
}

.box{
  position: absolute;
  left: 2.8px;
  bottom: -6px;
  width: 100%;
    
}

.MMS{
  position: absolute;
  top: -2px;
  left: 77%;
  padding: 8px;
  cursor: pointer;
  
  border: 2px solid #47a3da;
  
  
  }

.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .2{
  padding: 26px;
  width: 28px;
  height: 26px;
  margin-left: 50px; 
  margin-top: 7px;
 
}


.box > div{
  display: inline-block;
  padding: 9.8%;
  width: 33px;
  height: 24px;
  margin: 0 -4px auto -3px;
  
  position: relative;
  
  border: 2px solid #47a3da;
}

#sizes{
  position: absolute;
  left: -2px;
  transform: translateY(-115%);
  padding: 1px;
  width: 46px;
  border: 2px solid #47a3da;
  visibility: hidden;
  opacity: 0;
  transition: 1s all ease;
  background: white;
}

.buttom:hover > #sizes{
  opacity: 1;  
  visibility: visible;
  cursor: pointer;
}

#colors{
  position: absolute;
  left: -10px;
  transform: translateY(-135%);
  width: 56px;
  height: 50px;
  padding: 5px;
  border: 2px solid #47a3da;
  visibility: hidden;
  opacity: 0;
  transition: 1s all ease;
  
}

.col{
  width: 6%;
  padding: 8px;
  margin-left: 2%;
  display: inline-block;
}

.blue{
  background: skyblue;
}
.pink{
  background: pink;
}
.yellow{
  background: #F49B49;
}
.green{
  background: #5C946E;
}

.buttom1:hover > #colors{
  opacity: 1;  
  visibility: visible;
  cursor: pointer;
}

i{
  position: absolute;
  top: 35%;
  left: 35%;
  color: #47a3da;
}

.imagenn{
  width: 60%;
  height: 120px;
  margin-top: 23%;
  margin-left: 20%; 
  
}

img{
  width: 95%;
  margin-left: 3%;
}



.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}


.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
}
.back {
	transform: rotateY(180deg);
}

.title1{
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #47a3da;
}



@media(max-width: 500px){
  .container > .bigBox{
  display: block;
  }
  
  .bigBox{
  width: 80%;
  height: 400px;
  position: relative;
    left: 10%;
    top: 20px;
    
  margin-bottom: 60px;
   
  border: 2px solid #47a3da;
  }
  
  .MMS{
  position: absolute;
  top: -2px;
  left: 83.2%;
  padding: 16px;
  cursor: pointer;
  
  border: 2px solid #47a3da;
  }
  
}